In [11]:
name = "harry"
age = 23 # test

age = 25
first_number = "herry loves ivy" # test
first_number = "mote srr ml"
print (age) # variables contains values
print (first_number) # harry please find KEYWORDS which can't be used in variables

25
mote srr ml

In [15]:
name_input = input() # input is to get input from user
print("hello", "welcome me", name_input)
del name_input

hello welcome me ds

In [22]:
# int
a = int("4")
# a = int("-4.4")
print("Hello", a, type(a))

Hello 4 <class 'int'>

In [27]:
# float can change any int or string or float into float
a = int("4")
print(a)

4

In [36]:
# bool()
a = bool()
# a = bool("") # no values is false
print(a, type(a))

False <class 'bool'>

In [46]:
# str() convert anything into string
a = str(224)
# a = str(a = bool("a"))
# a = str(print())
a = str(print())
print(a)

None

In [63]:
1 + 1 # we can do normal math in pytho
a = 1 + 2
a = 6 / 3
a = 7 // 3 # use double // to get the whole number
a = 7 // 3
a = 32.2 % 3
a

2.200000000000003

In [66]:
a = 0 ** 0
a

1

In [70]:
10.0 - 10

0.0

In [74]:
1.5 // 1.5 # 
float(int(12.9))
12.9 // 1

12.0

In [75]:
# PEMDAS = Order of operations
a = (2 * 2) - (2 / 2) - (2 ** 2) #1 st way of reorganizing
a = 2*2 - 2/2 - 2**2 # 2 nd way of reorganizing

a = 2 * 2 - 2 / 2 - 2 ** 2 # not being organized

In [84]:
a = 4 + 4 # 8
b = 3 + 3 # 6
a = a + 4 # 12
# print(a + b) # 12 + 6
a = b / a 

print (a, b)

0.5 6

In [91]:
a = 1
a = a + 4 #same # 5
a += 4 #same # 
a -= 4
a /= 6 # same as a = a / 6
a

0.8333333333333334

In [101]:
## logical operators

2 > 3
a = 6
a < 7
a == 5 # == try to equal
a <= 5
a != 5 # != not

True